@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    --blue:hsl(223, 87%, 63%);
    --pale-blue:hsl(223, 100%, 88%);
    --light-red:hsl(354, 100%, 66%);
    --gray:hsl(0, 0%, 59%);
    --very-dark-blue:hsl(209, 33%, 12%);
}

html{
    box-sizing:border-box;
    font-size:62.5%;
    font-family:"Libre Franklin", sans-serif;
}
*{
    margin:0;
    padding:0;

}
body{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
main{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:38rem;
    gap:2rem;
    padding:4rem 0rem;
}
h1{
    font-weight:300;
    color:var(--gray);
    font-size:2.5rem;
}
span{
    font-weight:bold;
    color:var(--very-dark-blue);
}
h2{
    font-weight:300;
    text-align: center;
    margin:2rem 0rem;

}
#error{
    color:var(--light-red);
    display:none;
    font-style: italic;
}
/* INPUT AND BUTTON */
.button-container{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
input{
    width:28rem;
    border-radius:2.5rem;
    padding:1.5rem;
    border:1px solid var(--blue);
    outline:none;
    text-indent:2rem;
}
input::placeholder{
    padding:0.5rem;
    color:var(--pale-blue);
    opacity:0.8;
}
button{
    width:31.5rem;
    border:none;
    outline:none;
    padding:1.5rem;
    border-radius:2.5rem;
    background-color:var(--blue);
    color:white;
    text-transform:uppercase;
    box-shadow: 0px 2px 10px 1px rgb(154, 149, 149);
}
button:hover{
    opacity:0.8;
}

/* INPUT AND BUTTON */

.image{
    width:34rem;
}
#logo{
    height:2rem;
    margin-top:5rem;
}
.image-container{

    margin:4rem 0rem 4rem 0rem;
}

.social-icons{
    display:flex;
    gap:2rem;
}
.container-social-icons{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:1rem;
    position:absolute;
    bottom:5%;
}

@media (min-width:950px){

    body{
        scale:0.9;
    }

    main{
width:100%;
    }
h1{
    font-size:5rem;
}
#logo{
    height:3rem;
}
h2{
    font-size:2rem;
}
.button-container{
position:relative;
    flex-direction: row;
}
input{
    width:35rem;
    padding:2.5rem;
    border-radius:4rem;
}
button{
    width:20rem;
    padding:2rem;
    border-radius:4rem;

}

.image{
    width:70rem;
}

#error{
    position:absolute;
    bottom:-25%;
    left:5%;
}
    .container-social-icons{
    bottom:0%;
}
}
